DockerFile
CHANGELOG.md
README.md
temp/
test/
analysis_options.yaml
compose_files/
DockerFileAuthenticationServer
DockerFileBuildServer
DockerFileGameServer
example/

# Files and directories created by pub
.dart_tool/
.packages
temp/
tmp/
test_temp/

# Omit commiting pubspec.lock for library packages:
# https://dart.dev/guides/libraries/private-files#pubspeclock
pubspec.lock

# Conventional directory for build outputs
build/

# Directory created by dartdoc
doc/api/
