@import url(https://fonts.googleapis.com/css?family=Roboto);
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

#output {
  padding: 20px;
  text-align: center;
}

.left-window {
  display: flex;
  flex-direction: row;
}

.right-window {
  display: flex;
  flex-direction: column;
}

.gutter.gutter-horizontal {
  cursor: ew-resize;
}

#play-card {
  width: 100%;
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}

.gutter.gutter-vertical {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
  cursor: row-resize;
}

.split {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.split {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.split, .gutter.gutter-horizontal {
  float: left;
}

/* .split,
.gutter.gutter-horizontal {
    height: 300px;
} */

.split {
  overflow-y: auto;
  overflow-x: hidden;
}

.log {
  padding-left: 10px;
}

.CodeMirror {
  flex-grow: 1;
}

.CodeMirror-vscrollbar::-webkit-scrollbar-track, .custom-scroll::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.CodeMirror-vscrollbar::-webkit-scrollbar, .custom-scroll::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.CodeMirror-vscrollbar::-webkit-scrollbar-thumb, .custom-scroll::-webkit-scrollbar-thumb
{
	border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.CodeMirror-vscrollbar::-webkit-scrollbar:horizontal, .custom-scroll::-webkit-scrollbar:horizontal {
  height: 6px;
}